.location {
  margin: 16px;
}

body {
  background: linear-gradient(90deg, rgb(243, 220, 220), rgb(180, 230, 245));
}

h1 {
  color: #085695;
  margin-bottom: 0;
  font-size: 40px;
}

h2 {
  font-size: 17px;
  margin-left: 20px;
  color: #316b9b;
}

strong {
  font-size: 50px;
  color: #085695;
  position: relative;
  left: -55px;
}

.unit {
  position: relative;
  top: -25px;
  left: -50px;
}

.todayinfo {
  font-size: 17px;
  color: #316b9b;
  line-height: 30px;
  position: relative;
}

.today {
  margin: 20px 205px;
  box-shadow: 0 0 25px rgb(96, 145, 201);
  position: relative;
}

.footer {
  position: relative;
  margin-left: 200px;
}

.active {
  text-decoration: none;
  color: black;
}
