.location {
  margin: 16px;
}

h1 {
  color: #085695;
  margin-bottom: 0;
  font-size: 40px;
}

h2 {
  font-size: 17px;
  margin-left: 20px;
  color: #316b9b;
}

strong {
  font-size: 50px;
  color: #085695;
  position: relative;
  left: -55px;
}

.unit {
  position: relative;
  top: -25px;
  left: -50px;
}

.todayinfo {
  font-size: 17px;
  color: #316b9b;
  line-height: 30px;
  position: relative;
}

.today {
  margin: 20px 205px;
  box-shadow: 0 0 25px rgb(184, 208, 236);
  position: relative;
}

.next-days {
  border-color: #6b95b8;
}

.day1,
.day2,
.day3,
.day4,
.day5 {
  text-align: center;
  color: #085695;
  font-size: 17px;
}

.footer {
  position: relative;
  margin-left: 200px;
}
